.content {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  display: flex;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link {
  font-size: 18px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
  cursor: pointer;
}

.header__logo-image {
  object-fit: contain;
  object-position: center;
}

.address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address-link {
  font-size: 18px;
  white-space: nowrap;
}

.cover {
  position: relative;
  z-index: -1;
  width: 100%;
  padding: 164px 50px 52px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  font-weight: bold;
  font-size: 100px;
  line-height: 119%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 130px;
}

.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

/* --- section lots --- */

.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  padding: 50px 40px;
  color: #fff;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
  background-size: contain;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
  background-size: contain;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
  background-size: contain;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  padding-left: 40px;
  font-size: 20px;
}

/* --- section about --- */

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 240px auto;
  row-gap: 0;
  column-gap: 10px;
  padding: 182px 50px 180px;
}

.about__logo {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  gap: 25px;
}

/* --- footer --- */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 4px 50px 90px;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link {
  display: block;
  font-size: 18px;
  line-height: normal;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style-type: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
}